# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
build/
gradle/
gradlew
gradlew.bat
outputfirstVer
src/test/java/main/classes/
/src/main/java/generated/
/src/main/java/xmlbeans/
/vtiger/schema/
src/main/java/generated/
src/main/java/xmlbeans/
